<div class="row">
  <div class="col-6">
     <h1>Users</h1>
  </div>

  <div class="col-6 d-flex justify-content-end my-3">
    <a href="/adduser" type="button" class="btn btn-dark align-self-center"><i class="bi bi-person-plus"></i> Add User</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">phone</th>
      <th scope="col">status</th>

      {{!-- <th scope="col">comments</th> --}}

      <th scope="col" class="text-end">actions</th>
    </tr>
  </thead>
  <tbody>


  {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.status}}</td>

      {{!-- <td>{{this.comment}}</td> --}}

      <td class="text-end">
          <a href="/viewuser/{{this.id}}" type="button" class="btn btn-outline-dark btn-small"><i class="bi bi-eye"></i> view</a>
          <a href="/edituser/{{this.id}}" type="button" class="btn btn-success btn-small"><i class="bi bi-pencil"></i> edit</a>
          <a href="/{{this.id}}" type="button" class="btn btn-danger btn-small"><i class="bi bi-trash"></i> delete</a>
      </td>
    </tr>
  {{/each}}    




  </tbody>
</table>